* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
:root {
  --black:#000000;
  --white:#ffffff;
  --dark-purple: #3c122c;
  --medium-purple: #762ba3;
  --light-purple: #ae40f0;
  --yellow: #ffc800;
  --pink: #fc5185;
  --light-pink: #ffeffe;
  --green: #00b090;
  --background-gray: #eee;
  --color :#dc3545;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ffd5d5;
    border-bottom: solid 1px #cfcfcf;
    border-top: solid 1px #cfcfcf;
  }

  .sobre-nosotros,  .informacion-legal{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #777;
    font-size: 15px;
  
  }
.sobre-nosotros a,  .informacion-legal a {
      text-decoration: none;
      color: #777;
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;
}
.sobre-nosotros a:hover,  .informacion-legal a:hover {
      color: #eb958d;
}
.sobre-nosotros i, .informacion-legal i {
  margin-right: 8px;
  color: var(--pink);   
}

.sobre-nosotros a:hover i, .informacion-legal a:hover i {
  color: #00223e;     
}

.titulos-footer  {
      margin-bottom: 0.7rem; 
     }


  .central{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .central img{
    max-width: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
}
  

  
  .redes-sociales{
    margin-bottom: 2rem;
    display: flex;
    gap: 15px;  
  }
.fa-brands{
  color: #524e4e;
  font-size: 1.5rem;
}
.fa-brands:hover{
  color: #eb958d;
}

.footer-bajo{
  text-align: center;
  padding: 0.3rem;
  color: #777;
}