/* --- 1. Reseteo Básico y Global --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

:root {
  --primary:#f8d9d6;
  --black:#000000;
  --white:#ffffff;
  --dark-purple: #3c122c;
  --medium-purple: #762ba3;
  --light-purple: #ae40f0;
  --yellow: #ffc800;
  --pink: #fc5185;
  --light-pink: #ffeffe;
  --green: #00b090;
  --background-gray: #eee;
  --color :#dc3545;
}